:javascript
    function final_submit()
    {
        var r = confirm("Final Submit?");
        if (r == true) {
            $('<input>').attr({
                type: 'hidden',
                id: 'form_form_submitted',
                name: 'form[form_submitted]',
                value: true
            }).appendTo('#evaluation_form');
            $("#evaluation_form").submit();
        }
    }

= form_tag '/student/save', method: 'post' do
    = label :student, :name
    = text_field :student, :name

    = label :student, :jobid, "Student ID"
    = text_field :student, :jobid

    = label_tag "Phd or Master"
    = text_field_tag :student_type

    = label_tag "Which year?(1,2,3...)"
    = number_field_tag :year

    = label_tag "Thesis Advisor (The faculty member you are actually working with)"
    = text_field_tag :advisor

    = label_tag "Co-advisor (if any)"
    = text_field_tag :co_advisor

    = label_tag "Official Advisor (if different from thesis advisor)"
    = text_field_tag :official_advisor

    = label_tag "Preliminary Exam: (Which Area, Score, N/A)"
    = text_field :form, :preliminary_exam

    %table
        %tbody
            %tr
                %td
                    = label_tag "Oral Exam:"
                %td
                    = label_tag "Pass"
                    = radio_button :form, :oral_exam, 'Pass'
                %td
                    = label_tag "Fail"
                    = radio_button :form, :oral_exam, 'Fail'
                %td
                    = label_tag "N/A"
                    = radio_button :form, :oral_exam, 'N/A'
            %tr
                %td
                    = label_tag "Thesis Proposal:(Pass, Fail, N/A)"
                %td
                    = label_tag "Pass"
                    = radio_button :form, :thesis_proposal, 'Pass'
                %td
                    = label_tag "Fail"
                    = radio_button :form, :thesis_proposal, 'Fail'
                %td
                    = label_tag "N/A"
                    = radio_button :form, :thesis_proposal, 'N/A'

    = label :form, :education, "Education (from high school) :"
    = text_area :form, :education

    = label_tag "Classes Taken So Far (List the course number, name, lecturer, time, credits and scores if known)"
    = text_area :form, :classes_taken

    = label_tag "Publications (Title, co-authors, conference/journal, year, poster /demo /short paper /mini-conf/ oral/ award/ invite to a journal)"
    = text_area :form, :publications

    = label_tag "Other Academic Activities (e.g., TA, Internships, Presentations, Conferences/Seminars/Talks you attend)"
    = text_area :form, :academic_activities

    = label_tag "Detailed Summary of your research progress in this semester (including what is learnt from the courses, what books/papers you read and what you learnt, concise descriptions of your finished or ongoing research projects. Be clear.)"
    = text_area :form, :research_progress

    = label_tag "Plan for the Next Semester (or even longer)"
    = text_area :form, :plan

    = label_tag "Suggestions to your advisor, your research group and/or the graduate committee."
    = text_area :form, :suggestions
    %p
        = submit_tag "Save"


%p
    = @final
    = link_to 'Final Submit', '', :onclick => 'final_submit()'