= form_tag '/simple', :class => 'simple-form' do
    = label_tag :Name
    = text_field_tag :username
    = label_tag "Student ID"
    = text_field_tag :student_id
    = label_tag "Phd or Master"
    = text_field_tag :student_type
    = label_tag "Which year?(1,2,3...)"
    = number_field_tag :year
    = label_tag "Thesis Advisor (The faculty member you are actually working with)"
    = text_field_tag :advisor
    = label_tag "Co-advisor (if any)"
    = text_field_tag :co_advisor
    = label_tag "Official Advisor (if different from thesis advisor)"
    = text_field_tag :official_advisor
    = label_tag "Preliminary Exam: (Which Area, Score, N/A)"
    = text_field_tag :pre_exam

    = label_tag "Oral Exam:"
    = label_tag "Pass"
    = radio_button_tag :oral_exam, :value => 'Pass'
    = label_tag "Fail"
    = radio_button_tag :oral_exam, :value => 'Fail'   
    = label_tag "N/A"
    = radio_button_tag :oral_exam, :value => 'N/A'

    = label_tag "Thesis Proposal:(Pass, Fail, N/A)"
    = label_tag "Pass"
    = radio_button_tag :proposal, :value => 'Pass'
    = label_tag "Fail"
    = radio_button_tag :proposal, :value => 'Fail'   
    = label_tag "N/A"
    = radio_button_tag :proposal, :value => 'N/A'

    = label_tag "Education (from high school):"
    = text_field_tag :education
    = label_tag "Classes Taken So Far (List the course number, name, lecturer, time, credits and scores if known)"
    = text_field_tag :classes
    = label_tag "Publications (Title, co-authors, conference/journal, year, poster /demo /short paper /mini-conf/ oral/ award/ invite to a journal)"
    = text_field_tag :publications
    = label_tag "Other Academic Activities (e.g., TA, Internships, Presentations, Conferences/Seminars/Talks you attend)"
    = text_field_tag :others
    = label_tag "Detailed Summary of your research progress in this semester (including what is learnt from the courses, what books/papers you read and what you learnt, concise descriptions of your finished or ongoing research projects. Be clear.)"
    = text_field_tag :summary
    = label_tag "Plan for the Next Semester (or even longer)"
    = text_field_tag :plan
    = label_tag "Suggestions to your advisor, your research group and/or the graduate committee."
    = text_field_tag :suggestions

    = label_tag :password
    = password_field_tag :password
    = label_tag :email
    = email_field_tag :email
    = label_tag :age
    = number_field_tag :age
    = label_tag :telephone
    = telephone_field_tag :telephone
    = label_tag :webpage
    = url_field_tag :webpage
    = label_tag :search
    = search_field_tag :search
    = label_tag :color
    = select_tag :color, :options => ['green', 'orange', 'purple']
    = select_tag :type, :grouped_options => { 'foo' => ['foo', 'bar'], 'bar' => ['foo', 'bar'] }
    = select_tag :character, :grouped_options => [['Friends',['Yoda',['Obiwan',1]]],['Enemies',['Palpatine',['Darth Vader',3]]]]
    = label_tag :gender
    = radio_button_tag :gender, :value => 'male'
    = radio_button_tag :gender, :value => 'female'
    = check_box_tag :remember_me
    = submit_tag