= form_tag '/student/submit', method: 'post' do
    = label_tag :Name
    = text_field :student, :name
    = label_tag "Student ID"
    = text_field :student, :jobid
    = label_tag "Phd or Master"
    = text_field_tag :student_type
    = label_tag "Which year?(1,2,3...)"
    = number_field_tag :year
    = label_tag "Thesis Advisor (The faculty member you are actually working with)"
    = text_field_tag :advisor
    = label_tag "Co-advisor (if any)"
    = text_field_tag :co_advisor
    = label_tag "Official Advisor (if different from thesis advisor)"
    = text_field_tag :official_advisor
    = label_tag "Preliminary Exam: (Which Area, Score, N/A)"
    = text_field  :form, :preliminary_exam

    = label_tag "Oral Exam:"
    = label_tag "Pass"
    = radio_button :form, :oral_exam, 'Pass'
    = label_tag "Fail"
    = radio_button :form, :oral_exam, 'Fail'   
    = label_tag "N/A"
    = radio_button :form, :oral_exam, 'N/A'

    = label_tag "Thesis Proposal:(Pass, Fail, N/A)"
    = label_tag "Pass"
    = radio_button_tag :proposal, :value => 'Passra'
    = label_tag "Fail"
    = radio_button_tag :proposal, :value => 'Fail'   
    = label_tag "N/A"
    = radio_button_tag :proposal, :value => 'N/A'

    = label_tag "Education (from high school):"
    = text_area :form, :education
    = label_tag "Classes Taken So Far (List the course number, name, lecturer, time, credits and scores if known)"
    = text_area :form, :classes_taken
    = label_tag "Publications (Title, co-authors, conference/journal, year, poster /demo /short paper /mini-conf/ oral/ award/ invite to a journal)"
    = text_field_tag :publications
    = label_tag "Other Academic Activities (e.g., TA, Internships, Presentations, Conferences/Seminars/Talks you attend)"
    = text_field_tag :others
    = label_tag "Detailed Summary of your research progress in this semester (including what is learnt from the courses, what books/papers you read and what you learnt, concise descriptions of your finished or ongoing research projects. Be clear.)"
    = text_field_tag :summary
    = label_tag "Plan for the Next Semester (or even longer)"
    = text_field_tag :plan

    = label_tag "Suggestions to your advisor, your research group and/or the graduate committee."
    = text_field_tag :suggestions


    %p
        = submit_tag :save