:javascript
    function final_submit()
    {
        var r = confirm("Final Submit?");
        if (r == true) {
            $('<input>').attr({
                type: 'hidden',
                id: 'form_form_submitted',
                name: 'form[form_submitted]',
                value: true
            }).appendTo('#evaluation_form');
            $("#evaluation_form").submit();
        }
    }

= form_tag '/student/submit', method: 'post' do
    %table
        %tbody
            %tr
                = label_tag :Name
                = text_field :student, :name
            %tr
                = label_tag "Student ID"
                = text_field :student, :jobid
            %tr
                = label_tag "Phd or Master"
                = text_:student_typefield :student, :student_type
            %tr
                = label_tag "Which year?(1,2,3...)"
                = number_field :year
            %tr
                = label_tag "Thesis Advisor (The faculty member you are actually working with)"
                = text_field :advisor
            %tr
                = label_tag "Co-advisor (if any)"
                = text_field :co_advisor
            %tr
                = label_tag "Official Advisor (if different from thesis advisor)"
                = text_field :official_advisor
            %tr
                = label_tag "Preliminary Exam: (Which Area, Score, N/A)"
                = text_field  :form, :preliminary_exam
            %tr
                %td
                    = label_tag "Oral Exam:"
                %td
                    = label_tag "Pass"
                    = radio_button :form, :oral_exam, 'Pass'
                %td
                    = label_tag "Fail"
                    = radio_button :form, :oral_exam, 'Fail'
                %td   
                    = label_tag "N/A"
                    = radio_button :form, :oral_exam, 'N/A'
            %tr
                %td
                    = label_tag "Thesis Proposal:(Pass, Fail, N/A)"
                %td    
                    = label_tag "Pass"
                    = radio_button :proposal, :value => 'Passra'
                %td
                    = label_tag "Fail"
                    = radio_button :proposal, :value => 'Fail'
                %td
                    = label_tag "N/A"
                    = radio_button :proposal, :value => 'N/A'
            %tr
                = label_tag "Education (from high school):"
                = text_area :form, :education
            %tr
                = label_tag "Classes Taken So Far (List the course number, name, lecturer, time, credits and scores if known)"
                = text_area :form, :classes_taken
            %tr
                = label_tag "Publication-s (Title, co-authors, conference/journal, year, poster /demo /short paper /mini-conf/ oral/ award/ invite to a journal)"
                = text_field :publications
            %tr
                = label_tag "Other Academic Activities (e.g., TA, Internships, Presentations, Conferences/Seminars/Talks you attend)"
                = text_field :others
            %tr
                = label_tag "Detailed Summary of your research progress in this semester (including what is learnt from the courses, what books/papers you read and what you learnt, concise descriptions of your finished or ongoing research projects. Be clear.)"
                = text_field :summary
            %tr
                = label_tag "Plan for th--e Next Semester (or even longer)"
                = text_field :plan
            %tr
                = label_tag "Suggestions to your advisor, your research group and/or the graduate committee."
                = text_field :suggestions
    %p
        = submit_tag :save

    
%p
    = @final
    = link_to 'Final Submit', '', :onclick => 'final_submit()'