%h1 Add Comments
%table
  %tbody
    %tr
      %td{width: 100}
        Student ID
      %td
        #{@user.jobid}
    %tr
      %td
        Student Name
      %td
        #{@user.name}
    - EvaluationForm.required_fields.each do |field|
      %tr
        %td
          = field_name(field)
        %td
          - split_lines(@form.send(field)) do |line|
            = line
            %br
= form_tag teacher_update_path(@user), :method => :post do

  = label :form, :comments, 'Comments'
  = text_area :form, 'comments'
  = label :form, :grade, 'Grade'
  = text_field :form, 'grade'
  = hidden_field :form, :comment_submmited, value: true
  %br
  = submit_tag 'Submit'