%h1 All Students


%table
  %thead
    %tr
      %th Name
      %th Job
      %th Student ID
      %th Email
      %th PhD/Master
      %th Year enrolled
      %th Submitted
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.job
        %td= user.jobid
        %td= user.email
        %td= user.student_type
        %td= user.enroll_year
        %td= user.form_submitted
        -if user.form_submitted == "Yes"
          %td= link_to 'Add Comments', teacher_comments_path(user)
        -else
          %td= "Add Comments"
