%h1 Profile

%h3 Preliminary Exam
= form_for @profile, url: student_profiles_preliminary_exam_path(@profile), method: :put do |f|
  = f.label :subject
  = f.select :preliminary_exam_subject, StudentProfile.preliminary_exam_subjects
  = f.label :score
  = f.number_field :preliminary_exam_score, in: 1..100
  = f.submit :update

%h3 Oral Exam
= form_for @profile, url: student_profiles_oral_exam_path(@profile), method: :put do |f|
  = f.select :oral_exam, StudentProfile.exam_status_list
  = f.submit :update

%h3 Thesis Proposal
= form_for @profile, url: student_profiles_thesis_proposal_path(@profile), method: :put do |f|
  = f.select :thesis_proposal, StudentProfile.exam_status_list
  = f.submit :update

%h3 Education
%div
  %table
    %tbody
      %tr
        %th{:width => '40px'} From
        %th{:width => '40px'} To
        %th{:width => '200px'} School
        %th{:width => '60px'}  Remark
        %th
      - @education_infos.each do |ei|
        %tr
          %td= ei.from.to_s
          %td= ei.to.to_s
          %td= ei.school
          %td= ei.remark
          %td= link_to 'Remove', education_infos_delete_path(ei), method: :delete
%div{:align => 'right'}
  %button#new_education_button Add New
%div#new_education
  = form_tag education_infos_new_path(@profile), method: :post do
    = label :education, :from
    = date_field :education, :from
    = label :education, :to
    = date_field :education, :to
    = label :education, :school
    = text_field :education, :school
    = label :education, :remark
    = text_field :education, :remark
    = submit_tag :save

%h3 Classes Taken So Far
%div
  %table
    %tobdy
      %tr
        %th{:width => '40px'} Course Number
        %th{:width => '60px'} Course Name
        %th{:width => '30px'} Instructor
        %th{:width => '30px'} Time
        %th{:width => '15px'} Credits
        %th{:width => '15px'} Score
        %th{:width => '40px'} Remark
        %th
      - @classes_taken_infos.each do |e|
        %tr
          %td= e.course_number
          %td= e.name
          %td= e.instructor
          %td= e.time
          %td= e.credits
          %td= e.score
          %td= e.remark
          %td= link_to 'Remove', classes_taken_infos_delete_path(e), method: :delete
%div{:align => 'right'}
  %button#new_classes_taken_button Add New
%div#new_classes_taken
  = form_tag classes_taken_infos_new_path(@profile), method: :post do
    = label :classes_taken, :course_number
    = text_field :classes_taken, :course_number
    = label :classes_taken, :name
    = text_field :classes_taken, :name
    = label :classes_taken, :instructor
    = text_field :classes_taken, :instructor
    = label :classes_taken, :time
    = text_field :classes_taken, :time
    = label :classes_taken, :credits
    = number_field :classes_taken, :credits
    = label :classes_taken, :score
    = number_field :classes_taken, :score
    = label :classes_taken, :remark
    = text_field :classes_taken, :remark
    = submit_tag :save

%h3 Publications
%div
  %table
    %tobdy
      %tr
        %th{:width => '80px'} Title
        %th{:width => '60px'} Co-authors
        %th{:width => '30px'} Type
        %th{:width => '30px'} Name
        %th{:width => '15px'} Year
        %th{:width => '15px'} Form
        %th{:width => '40px'} Remark
        %th
      - @publication_infos.each do |e|
        %tr
          %td= e.title
          %td= e.co_authors
          %td= e.pub_type
          %td= e.name
          %td= e.year
          %td= e.form
          %td= e.remark
          %td= link_to 'Remove', publication_infos_delete_path(e), method: :delete
%div{:align => 'right'}
  %button#new_publication_button Add New
%div#new_publication
  = form_tag publication_infos_new_path(@profile), method: :post do
    = label :publication, :title
    = text_field :publication, :title
    = label :publication, :co_authors
    = text_field :publication, :co_authors
    = label :publication, :pub_type
    = select :publication, :pub_type, PublicationInfo.type_list
    = label :publication, :name
    = text_field :publication, :name
    = label :publication, :year
    = number_field :publication, :year
    = label :publication, :form
    = select :publication, :form, PublicationInfo.form_list
    = label :publication, :remark
    = text_field :publication, :remark
    = submit_tag :save

%h3 Other Academic Activities
%div
  %table
    %tobdy
      %tr
        %th{:width => '40px'} Date
        %th{:width => '60px'} Type
        %th{:width => '200px'} Details
        %th{:width => '80px'} Remark
        %th
      - @academic_activity_infos.each do |e|
        %tr
          %td= e.date.to_s
          %td= e.activity_type
          %td= e.details
          %td= e.remark
          %td= link_to 'Remove', academic_activity_infos_delete_path(e), method: :delete
%div{:align => 'right'}
  %button#new_academic_activity_button Add New
%div#new_academic_activity
  = form_tag academic_activity_infos_new_path(@profile), method: :post do
    = label :academic_activity, :date
    = date_field :academic_activity, :date
    = label :academic_activity, :activity_type
    = select :academic_activity, :activity_type, AcademicActivityInfo.type_list
    = label :academic_activity, :details
    = text_field :academic_activity, :details
    = label :academic_activity, :remark
    = text_field :academic_activity, :remark
    = submit_tag :save
