%div#sidebar
  %p
    This is the sidebar
%div#main
  %h1 User Information

  %table
    %tbody
      %tr
        %td= label :user, :name, 'Name'
        %td= text_field :user, 'name'
      %tr
        %td= label :user, :job, 'Job'
        %td= text_field :user, 'job'
      %tr
        %td= label :user, :jobid, 'Student ID'
        %td= text_field :user, 'jobid'
      %tr
        %td= label :user, :email, 'Email'
        %td= text_field :user, 'email'
      %tr
        %td= label :user, :student_type, 'PhD/Master'
        %td= text_field :user, 'student_type'
      %tr
        %td= label :user, :enroll_year, 'Year enrolled'
        %td= text_field :user, 'enroll_year'
      %tr
        %td= label :user, :advisor, 'Advisor'
        %td= text_field :user, 'advisor', value: @user_advisor_name
      %tr
        %td= label :user, :co_advisor, 'Co-advisor'
        %td= text_field :user, 'co_advisor', value: @user_co_advisor_name
      %tr
        %td= label :user, :official_advisor, 'Official advisor'
        %td= text_field :user, 'official_advisor', value: @user_official_advisor_name

  = link_to 'Edit', admin_edit_path(@user)
  = link_to 'Back', admin_showall_path
