%div#sidebar
  %p
    This is the sidebar
%div#main
  %h1 All Users

  - if flash[:notice]
    = flash[:notice]

  %table
    %thead
      %tr
        %th Name
        %th Job
        %th Student ID
        %th More Information
        %th Submitted
        %th Commented
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.job
          %td= user.jobid
          %td= link_to 'Show details', admin_detail_path(user)
          %td= user.form_submitted
          %td= user.form_commented
          %td= link_to 'Edit', admin_edit_path(user)

  = link_to 'Add new user', admin_addnew_path
