= @form.id

= render "evaluation_forms/show", locals: {form: @form}
= form_tag teachers_update_path(:form_id => @form.id, :id=>@user.id), :method => :post do
  = label :comment, :comments, 'Comments'
  = text_area :comment, 'comments'
  = label :comment, :grade, 'Grade'
  = text_field :comment, 'grade'
  = hidden_field :comment, :comment_submitted, value: true
  %br
  = submit_tag 'Submit'
