%h1 All Students
%table
  %thead
    %tr
      %th Name
      %th Student ID
      %th Email
      %th PhD/Master
      %th Send Email

      
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.jobid
        %td= user.email
        %td= user.student_type
        %td= link_to 'Send', teachers_sendmail_path(:student => user.id)