= label :form, :semester
= select :form, :semester, Semester.where(open: true).map{|i| [i.name, i.id]}
= label :form, :name
= text_field :form, :name, readonly: true
= label :form, :student_jobid
= text_field :form, :student_jobid, readonly: true
= label :form, :student_type
= text_field :form, :student_type, readonly: true
= label :form, :year
= text_field :form, :year, readonly: true
= label :form, :thesis_advisor
= text_field :form, :thesis_advisor, readonly: true
= label :form, :co_advisor
= text_field :form, :co_advisor, readonly: true
= label :form, :official_advisor
= text_field :form, :official_advisor, readonly: true
= label :form, :preliminary_exam
= text_field :form, :preliminary_exam, readonly: true
= label :form, :oral_exam
= text_field :form, :oral_exam, readonly: true
= label :form, :thesis_proposal
= text_field :form, :thesis_proposal, readonly: true
= label :form, :education
= text_area  :form, :education, readonly: true
= label :form, :classes_taken
= text_area  :form, :classes_taken, readonly: true
= label :form, :publications
= text_area  :form, :publications, readonly: true
= label :form, :academic_activites
= text_area  :form, :academic_activities, readonly: true
= label :form, :research_progress
= text_area  :form, :research_progress
= label :form, :plan
= text_area  :form, :plan
= label :form, :suggestions
= text_area  :form, :suggestions
= label :form, :form_submitted, value: "Final Submit"
= check_box :form, :form_submitted
= submit_tag "Save"
