!!! 5
%html
  %head
    %title Evaluation System
    = stylesheet_link_tag 'Envision'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div#wrap
      %div#header
        %h1#logo-text Evaluation System
        %h2#slogan Evaluation Form for Graduate Students
      %div#menu
        %ul
          - if session[:user]
            %li= link_to 'Log Out', '/logout'
          - else
            %li= link_to 'Log In', '/'
          %li.last= link_to 'About', '/'
      %div#content-wrap
        = yield
      %div#footer
